body {
  background: url("../images/columbus.jpg") no-repeat fixed center center;
  background-size: cover;
  color: #1bedce;
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Verdana", sans-serif;
}

body * {
  box-sizing: inherit;
}

header {
  text-align: center;
  font-size: 5em;
  margin-bottom: 1em;
  font-family: "Times New Roman", serif;
  height: 8em;
  padding: 10% 0;
}

header * {
  margin: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

header h3 {
  font-weight: normal;
  font-size: 0.8em;
}

section#quotes {
  background-color: rgba(0, 0, 0, 0.5);
  margin: 5em 0;
  padding: 3em 0;
}

section#quotes h2 {
  text-align: center;
}

section#quotes blockquote {
  display: inline-block;
  width: 45%;
  margin: 1em;
  padding: 1em 0;
  text-align: center;
  vertical-align: middle;
  font-size: 1.2em;
  line-height: 1.5em;
}

section#quotes blockquote:before,
section#quotes blockquote:after {
  font-family: 'FontAwesome', sans-serif;
  font-size: 1.2em;
}

section#quotes blockquote:before {
  content: '\f10d';
}

section#quotes blockquote:after {
  content: '\f10e';
}

section#assignments {
  display: table;
  margin: 15em auto;
  width: 80%;
  border: 2px solid #fff;
  background-color: rgba(0, 0, 0, 0.5);
}

section#assignments > h3 {
  font-size: 2em;
  font-weight: normal;
  text-align: center;
}

section#assignments > ul > li {
  display: inline-block;
  width: 49%;
}

section#assignments > ul > li > ul > li {
  list-style-type: none;
  font-size: 1.5em;
  line-height: 2em;
}

li > a {
  color: inherit;
  text-decoration: none;
}

li > a:hover,
li > a:active {
  text-decoration: underline;
}
